 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I'm a software developer and mainly specialise in web applications. Been breathing since 1979. It is a geniune privilege to do. By day I work for a startup company called MissionIQ.</p>
                </div>
                <div class="col-lg-4">
                  <p>By night I hack away at my many projects. If I am not doing that I am probably wrecking my house in my latest DIY endeavour or if it isn't raining I might be gardening.</p>
                </div>
            </div>
        </div>
    </section>
